.input {
    margin-top: 5px;
    height: 30px;
    width: 250px;
    border-radius: 8px;
    border: 1px solid gray;
    transition: color 0.5s ease;
}
.label{
    transition: color 0.5s ease;
}

.input--safe.input--focused {
    border: 2px solid #006FEE;
}
.label--safe.label--focused {
    color: #006FEE;
}
.input--danger.input--focused{
    border: 2px solid red;
    color: red;
}
.label--danger.label--focused {
    color: red
}
.inputdiv {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
