.my-button{
    background-color: green;
    height: 40px;
    min-width: 150px;
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;

    font-size: 20px;
    transition: background-color 0.2s ease-in-out;
}
.my-button:hover{
    background-color: rgb(71, 182, 71);
}

.my-button--primary{
    background-color: green;
    border: none;
    color: white;
}

.my-button--bordered{
    border: 1px solid green;
    background-color: white;
    color: green;
}
